seaborn
torch
torchvision
torchaudio
stable-baselines3


mlagents==0.28.0
mlagents_envs==0.28.0
gym-unity==0.28.0

numpy==1.22.4 
gym==0.20.0

dash-bootstrap-components<1
codecarbon[viz]==2.1.2

argparse
